{% extends 'base.html.twig' %}

{% block body %}
    <div id="fullpage">
    <section class="error">
        <p>Oops... Something went wrong</p>
        <p><a href="{{ path('discover') }}">Return to Discover</a></p>
    </section>
    </div>
{% endblock %}