{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleform.css') }}">

{% endblock %}

{% block body %}

    <div class="container">

        <div class="row center-align">
            <div class="col s12">
                <h2>My Account</h2>
                <h3>Change your email</h3>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input id="icon_prefix" type="email" class="validate">
                <label for="icon_prefix">Old Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input id="icon_prefix" type="email" class="validate">
                <label for="icon_prefix">New Email</label>
            </div>
        </div>

        <div class="row center-align">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Send
                <i class="material-icons right">send</i>
                </button>
            </div>
        </div>


    </div>

{% endblock body %}

{% block javascripts %}

    <script src="https://use.fontawesome.com/a4cc06d132.js"></script>
    <script type="text/javascript" src="{{ asset('js/scriptform.js') }}"></script>

{% endblock javascripts %}