{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}