/* FOOTER
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background: #8E24AA;
    color: #f2f2f2;
}

.footer-logo{
    width: 30%;
}

footer .btn-large{
    float: none;
    margin: 0.5em!important;
}

.facebook {
    background-color: #3b5998;
    color: #fff !important;
}
.facebook i {
    color: #fff !important;
}
.facebook:hover {
    background-color: #546EA5 !important;
}

.instagram {
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    color: #fff !important;
}
.instagram i {
    color: #fff !important;
}
.instagram:hover {
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 229, 141) 0%, rgb(255, 211, 124) 10%, rgb(251, 159, 80) 28%, rgb(237, 89, 89) 42%, transparent 82%), linear-gradient(135deg, rgb(63, 98, 220) 12%, rgb(203, 84, 198) 58%);
}

.twitter {
    background-color: #55acee;
    color: #fff !important;
}
.twitter i {
    color: #fff !important;
}
.twitter:hover {
    background-color: #6AB6F0 !important;
}


/* TYPO
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
.homepage-h2 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    color: white;
    padding-top: 40vh;
    margin: 0 auto;
    line-height: 0.5em;
}

.icon {
    font-size: 8em !important;
    color: white;
}

h1 {
    display:none;
}

/* SECTION
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
    position: relative;
    overflow: hidden;
    height: 50vh;
}

/* NAV
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
nav img {
    width: 4%;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}

li {
    text-align: center;
}

.side-nav {
    width: 50vw;
}

#header {
    position: fixed;
    background: #8E24AA;
    display: block;
    width: 100%;
    z-index: 999;
    color: #f2f2f2;
    top: 0;
}

#header img {
    width: 1.7em;
    margin: 0.1em 0 0 0.1em;
}

nav .button-collapse {
    float: right;
}

nav .brand-logo {
    float: left;
    transform: initial;
    left: 0;
}

#header-index {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 999;
    color: #f2f2f2;
    top: 0;
}

#header-index img {
    width: 15%;
    margin: 0.5em 0 0 0.5em;
}

.btn {
    margin: 1em 0.5em;
    padding: 0 1rem;
}

.btn-large {
    float: right;
    margin: 2em 0.5em;
}


/* HOMEPAGE
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
.homepage-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

/* VIDEO
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
.bgvid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.ml-gradient {

    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}


/* ERROR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.error {
    background-image: url("../img/error.jpg");
    background-size: cover;
    height: 82vh;
}

.error p {
    margin-top: 30vh;
    color: white;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 600;
}

.error p:last-child {
    font-size: 3em;
    text-transform: lowercase;
    margin-top: 5vh;
}

.error a {
    color: white;
}

.error a:hover {
    color: #732E93;
}



/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 601px) and (max-width: 992px) {

    /* SECTION STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .homepage-h2 {
        font-size: 8em;
        padding-top: 70vh;
    }

    #header-index img {
        width: 10%;
    }


}

@media (min-width: 993px) {

    /* SECTION STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .homepage-h2 {
        font-size: 10em;
        padding-top: 70vh;
    }

    .icon {
        font-size: 10em !important;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 70px;
        line-height: 70px;
    }

    #header img {
        width: 2.3em;

    }

    #header-index img {
        width: 7%;
    }

}