{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block body %}

    <div class="container container-top">
        <div class="row center-align">
            <div class="col s12">
                <h2>Add Line Up</h2>
            </div>
        </div>
        <!-- FIL D'ARIANE -->
        <div class="row">
            <div class="input-field col s12">
                <nav>
                    <div class="nav-wrapper center-align">
                        <div class="col s12">
                            <a href="Page1.html" class="breadcrumb current">General</a>
                            <a href="Page2.html" class="breadcrumb">Line Up</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <form class="col s12">

                <div class="row">
                    <p>masquer l'input festival (recuperer l'id automatiquement)</p>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">music_note</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Festival</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">star_border</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Artist</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">location_city</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Venue</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Start Date</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">End Date</label>
                    </div>
                </div>
                <div class="row center-align">
                    <input type="submit" class="waves-effect waves-light btn" value="Create" />
                </div>
            </form>
        </div>
    </div>

    {% endblock body %}

    {% block javascripts %}

        <script src="https://use.fontawesome.com/a4cc06d132.js"></script>
        <script type="text/javascript" src="{{ asset('js/scriptform.js') }}"></script>

    {% endblock javascripts %}
